[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
